.navbar {
  background-color: #9be8ff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px; /* กำหนดความสูงของ Navbar ให้คงที่ */
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; /* ให้ navbar เต็มความกว้าง */
}

.navbar-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* ป้องกันไม่ให้โลโก้หดตัว */
  overflow: hidden; /* ซ่อนส่วนที่เกินออกมา */
  height: 100%; /* ให้โลโก้มีความสูงเต็มความสูงของ navbar */
}

.logo {
  height: 180px; /* ปรับขนาดโลโก้เบื้องต้น */
  margin-right: 20px;
  transform: scale(1.2); /* ขยายโลโก้ให้ใหญ่ขึ้น 20% */
  transform-origin: left center; /* ขยายจากจุดเริ่มต้นทางซ้าย */
  transition: transform 0.3s ease; /* เพิ่มการเคลื่อนไหวในการขยาย */
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #b36bea; /* สีเมื่อ hover */
}
